<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>

  <% messages.forEach(function(message) { %>
    <% if (user) {%>
      <h1>
        Username: <%= message.username %>
      </h1>
      <% } %>
        <p>
          Message: <%= message.content %>
        </p>
        <p>Submitted on <%= message.date %>
        </p>
        <% }); %>
</body>

</html>